<!DOCTYPE html>
<html>
  <head>
    <title>panda_coins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, style: 'text-align: center; padding: 10px; background-color: #f44336; color: white; margin-bottom: 5px;' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
